.header {
  height: 48px;
  line-height: 48px;
  color: #fff;
  background: #000;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  width: 100%;

  .logo {
    margin: 0 16px;
  }
  
  .desc {
    margin: 0 16px;
  }
}
