.home-upload {
  
}
.home-upload .p-top {
  height: 32px;
}
.home-upload .p-upload-status {
  float: right;
}
.home-upload .p-upload-status.p-uploading {
  color: #2af;
}
.home-upload .p-upload-status.p-success {
  color: green;
}
.home-upload .p-upload-result-rule {
  font-size: 12px;
  line-height: 12px;
}
.home-upload .p-upload-result-rule .p-success {
  color: green;
}
.home-upload .p-upload-result-rule .p-fail {
  color: red;
}
.home-upload .p-upload-result-rule .p-normal {
  color: #2af;
  display: inline-block;
}
.home-upload .p-upload-result-rule .p-icon {
  width: 8px;
  height: 8px;
  float: left;
}
.home-upload .p-upload-result-rule .p-text {
  margin: 0 8px 0 2px;
  float: left;
}
.home-upload .p-upload-result-rule .p-success .p-icon {
  border: 2px solid green;
}
.home-upload .p-upload-result-rule .p-fail .p-icon {
  border: 2px solid red;
}
.home-upload .p-upload-result-rule .p-normal .p-icon {
  border: 2px solid #2af;
}
.home-upload .p-files {
  margin: 16px -2px;
  padding: 0;
  list-style: none;
}
.home-upload .p-file {
  width: 20%;
  max-width: 128px;
  z-index: 1;
  background: #fff;
  position: relative;
  cursor: pointer;
  float: left;
}
.home-upload .p-file-inner {
  width: 100%;
  height: 0;
  padding-top: 100%;
  position: relative;
}
.home-upload .p-file-content {
  width: 100%;
  height: 100%;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: 2px solid #f5f5f5;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.home-upload .p-file-content.p-normal {
  border: 2px solid #2af;
}
.home-upload .p-file-content.p-success {
  border: 2px solid green;
}
.home-upload .p-file-content.p-fail {
  border: 2px solid red;
}
.home-upload .p-file-not-img {
  width: 100%;
  height: 100%;
}
.home-upload .p-file-not-img .icon {
  font-size: 32px;
  color: #666;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -16px 0 0 -16px;
}
.home-upload .p-file-not-img .p-file-name {
  padding: 2px 8px;
  color: #fff;
  font-size: 12px;
  text-align: center;
  background: rgba(0,0,0,0.6);
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}
.home-upload .p-file-select .sl-button {
  width: 100%;
  height: 100%;
  color: #fff;
  background: #999;;
}
.home-upload .p-file-select .icon {
  font-size: 32px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -16px 0 0 -16px;
}
.home-upload .p-upload-btn {
  width: 80px;
  height: 32px;
  color: #fff;
  background: #ac1;
}

.home-upload .p-preview {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
}
.home-upload .p-preview-top {
  height: 48px;
  background: #111;
}
.home-upload .p-preview-content {
  background: #000;
  position: absolute;
  top: 48px;
  right: 0;
  bottom: 0;
  left: 0;
}
.home-upload .p-preview img {
  width: 100%;
}
.home-upload .p-preview-close-btn {
  width: 48px;
  height: 48px;
  color: #fff;
  background: #222;
  position: absolute;
  top: 0;
  right: 0;
}
.home-upload .p-preview-close-btn:hover {
  background: #333;
}
.home-upload .p-change-preview-bgcolor {
  width: 16px;
  height: 12px;
  margin: 18px 0 0 16px;
  padding: 0;
  border-width: 2px;
  border-style: solid;
  float: left;
}
.home-upload .p-change-preview-bgcolor.p-white {
  background: white;
  border-color: #666;
}
.home-upload .p-change-preview-bgcolor.p-black {
  background: black;
  border-color: #ccc;
}
.home-upload .p-change-preview-bgcolor.active {
  border-color: #2af;
}
.home-upload .p-remove-preview-file-btn {
  width: 48px;
  height: 48px;
  margin-left: 16px;
  color: #fff;
}
