/*
The ".sl-" prefix mean this is site level and belong to shulive css lib.
The ".p-" prefix mean this is page level class name.Avoid global conflicts.
*/

html {
  height: 100%;
  font-family: sans-serif;
}
body {
  height: 100%;
  font-size: 14px;
  background-color: #f5f5f5;
}
html, body {
  -webkit-tap-highlight-color: transparent;
}

#root {
   height: 100%;
}
.app {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.header {
  height: 48px;
  line-height: 48px;
  color: #333;
  background: #fff;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.header-menu {
  position: absolute;
  top: 0;
  right: 0;
}
.header-menu .icon {
  width: 48px;
  height: 48px;
  color: #666;
  display: inline-block;
}
.header-logo {
  color: #2af;
  font-size: 16px;
  text-align: center;
}
.header-logo .icon {
  margin-right: 4px;
}

.content {
  position: absolute;
  top: 48px;
  right: 0;
  bottom: 0;
  left: 0;
}
.page {
  padding: 16px;
}
.page-title {
  font-size: 18px;
  color: #333;
}
.page-subtitle {
  font-size: 12px;
  color: #666;
}
