<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>React Koa Boilerplate</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,height=device-height,user-scalable=no,initial-scale=1,minimum-scale=1,maximum-scale=1">
  <!-- normalize: https://github.com/necolas/normalize.css/ -->
  <link rel="stylesheet" href="<%- staticHost %>/assets/vendors/normalize/7.0.0/normalize.css">
  <!-- icomoon: https://icomoon.io/app/#/select -->
  <link rel="stylesheet" href="<%- staticHost %>/assets/vendors/icomoon/1.0.0/style.css">
</head>
<body>
  <div id="root"><%- root %></div>

  <script>
    window.REDUX_STATE = <%- JSON.stringify(state) %>;
  </script>
</body>
</html>
